<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <span class="glyphicon glyphicon-picture"></span> PhotoPop
        </a>
    </div>
</div>